{
	"ckan_url": "",
	"api_key": "",
	"gateways": [
		{"name": "Earlswood - Multi Channel Gateway", "ttn_id": "firstliot_ttn_01", "ckan_id": "0565ebdf-5ab7-42cf-93e4-5eb89b569968"},
		{"name": "Beacon Park - Single Channel Gateway", "ttn_id": "B827EBFFFF404A14", "ckan_id": "55253523-6d20-4e40-80f2-66c751397678"}
	]
}
